# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
peti-kemas-fe/node_modules
peti-kemas-be/node_modules

# next.js
peti-kemas-fe/.next
peti-kemas-fe/.next/
peti-kemas-fe/out
peti-kemas-fe/.*

# production
peti-kemas-fe/build
peti-kemas-be/dist

# misc
.DS_Store
.env*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
peti-kemas-fe/.next/static/runtime/amp.js
peti-kemas-fe/.next/static/runtime/amp.js.map
peti-kemas-fe/.next/static/runtime/main.js
peti-kemas-fe/.next/static/runtime/main.js.map
