# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
peti-kemas-fe/node_modules
peti-kemas-be/node_modules

# next.js
peti-kemas-fe/.next
peti-kemas-fe/out

# production
peti-kemas-fe/build
peti-kemas-be/dist

# misc
.DS_Store
.env*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
peti-kemas-fe/.next/static/runtime/amp.js
peti-kemas-fe/.next/static/runtime/amp.js.map
peti-kemas-fe/.next/static/runtime/main.js
peti-kemas-fe/.next/static/runtime/main.js.map
peti-kemas-fe/.next/
peti-kemas-be/images/
peti-kemas-fe/.next/cache/next-babel-loader/0bcd1f580f3af7f8059929749c89d005.json
peti-kemas-fe/.next/cache/next-babel-loader/1fa0799a44c404db4c938dc05a09334b.json
peti-kemas-fe/.next/cache/next-babel-loader/2f4146411f9d74ccde3c5234afc93d5f.json
peti-kemas-fe/.next/cache/next-babel-loader/3d05db749c7a18fc1a1e8218a6d4d5cb.json
peti-kemas-fe/.next/cache/next-babel-loader/4bd2752589af637ef90c4bcde8607fde.json
peti-kemas-fe/.next/cache/next-babel-loader/5d10b4c6c5331b50241a008aac86cb8a.json
peti-kemas-fe/.next/cache/next-babel-loader/6a16fb30b68a7f19e927679c7bea0d83.json
peti-kemas-fe/.next/cache/next-babel-loader/6af5eaf05a2a8b6afa676a7332a09c6b.json
peti-kemas-fe/.next/cache/next-babel-loader/6b809cbf2e7e211fa88a4510c7041d7b.json
peti-kemas-fe/.next/cache/next-babel-loader/06cec8263cc75efd96bd136a9c5d6121.json
peti-kemas-fe/.next/cache/next-babel-loader/8f1ff77236bd28c11bc2a784ff715c2c.json
peti-kemas-fe/.next/cache/next-babel-loader/8f6b2bfb55940c70c276d742185b8b3e.json
peti-kemas-fe/.next/cache/next-babel-loader/9dcf852388f3041909e338a87f37c984.json
peti-kemas-fe/.next/cache/next-babel-loader/11b5e1f3080ef4478570b19843269dae.json
peti-kemas-fe/.next/cache/next-babel-loader/15f4ef0cf47f623b4f8598a5f39eb004.json
peti-kemas-fe/.next/cache/next-babel-loader/20cad98134e57ddee574edb4cbd28c86.json
peti-kemas-fe/.next/cache/next-babel-loader/36da31e3f289157baacefce8583127ab.json
peti-kemas-fe/.next/cache/next-babel-loader/41f7f615ef8d272486779bac4a804a51.json
peti-kemas-fe/.next/cache/next-babel-loader/42cece415047f73d4e2a397631964c28.json
peti-kemas-fe/.next/cache/next-babel-loader/54e23ef703de0ed1ce4e3d8df106e463.json
peti-kemas-fe/.next/cache/next-babel-loader/69d6cbd190ce3ddd1fb93ac305364b0c.json
peti-kemas-fe/.next/cache/next-babel-loader/069e2b47ed1185003cffa8167ecc9bbf.json
peti-kemas-fe/.next/cache/next-babel-loader/74cbcf32e5c760d80a41d4b316d59a58.json
peti-kemas-fe/.next/cache/next-babel-loader/84d66fd213a4ef4215fb53a44d748c04.json
peti-kemas-fe/.next/cache/next-babel-loader/231eff202ef142c1961ed49c8f0e1429.json
peti-kemas-fe/.next/cache/next-babel-loader/607f233e167708d5e04c88f98b89db47.json
peti-kemas-fe/.next/cache/next-babel-loader/894f15f325a309f839b8a6a4c8e9ac02.json
peti-kemas-fe/.next/cache/next-babel-loader/914c8f7fa6ca40609c7f69249f79e4b8.json
peti-kemas-fe/.next/cache/next-babel-loader/963b9633c606f223adcaaab7c93f35c4.json
peti-kemas-fe/.next/cache/next-babel-loader/969e8903fcb5db10fa012ee21337471f.json
peti-kemas-fe/.next/cache/next-babel-loader/2606f58e5b6ac4d2ff49667289c8e26c.json
peti-kemas-fe/.next/cache/next-babel-loader/4234f5a464e8fcabc513a7c204c8b4a1.json
peti-kemas-fe/.next/cache/next-babel-loader/7259317ef1a93f97ac02a59fc0888303.json
peti-kemas-fe/.next/cache/next-babel-loader/a00e631a93a89363c307a74473adf935.json
peti-kemas-fe/.next/cache/next-babel-loader/a1b53289bbcc7b5820aed21b0daf20fa.json
peti-kemas-fe/.next/cache/next-babel-loader/a12aa2d90a9d940703160914e33b0c47.json
peti-kemas-fe/.next/cache/next-babel-loader/a045a888a132850459366da0b813556c.json
peti-kemas-fe/.next/cache/next-babel-loader/ab72b735e0d7534204fbeed1b8659610.json
peti-kemas-fe/.next/cache/next-babel-loader/b3ebc6e0c25626f1e50635a5fe0f880b.json
peti-kemas-fe/.next/cache/next-babel-loader/b9fef83c065ad43ca0de5138b14a612a.json
peti-kemas-fe/.next/cache/next-babel-loader/b5265d4d162e701ac4523057af3605e3.json
peti-kemas-fe/.next/cache/next-babel-loader/b5451676110e41352cf2247c2b755936.json
peti-kemas-fe/.next/cache/next-babel-loader/bcea88db5a9364bf7b8d8602d336bd17.json
peti-kemas-fe/.next/cache/next-babel-loader/bfcc8b62f3291648e98b88dd1c452f95.json
peti-kemas-fe/.next/cache/next-babel-loader/cc12c87c6296167392aa6be752922f3c.json
peti-kemas-fe/.next/cache/next-babel-loader/cce677f2220f7665ab86e1c27c548555.json
peti-kemas-fe/.next/cache/next-babel-loader/ceeca3dfc844b057be845c14aaba2e6f.json
peti-kemas-fe/.next/cache/next-babel-loader/d0dc4f42047fae0f0caa4c45202f4c7b.json
peti-kemas-fe/.next/cache/next-babel-loader/d3c212d61e45b2d2db019be0c7951655.json
peti-kemas-fe/.next/cache/next-babel-loader/d9d9dda8750394c203dbe126210439c7.json
peti-kemas-fe/.next/cache/next-babel-loader/d969674ba9d0686b8edaabe6d180b3cf.json
peti-kemas-fe/.next/cache/next-babel-loader/ded691ce7ccd69106958a44775f03a10.json
peti-kemas-fe/.next/cache/next-babel-loader/e4d9b0b63780d10049c96559b08285ab.json
peti-kemas-fe/.next/cache/next-babel-loader/e062b9f4a469fd7a230ed441c1ccf2f2.json
peti-kemas-fe/.next/cache/next-babel-loader/f60eb7ac6ab63abed886fa35c38cccd6.json
peti-kemas-fe/.next/cache/next-babel-loader/ff6ca304bf712af2ab52ea49bf0d3f18.json
peti-kemas-fe/.next/server/pages-manifest.json
peti-kemas-fe/.next/server/static/development/pages/_document.js
peti-kemas-fe/.next/server/static/development/pages/_document.js.map
peti-kemas-fe/.next/server/static/development/pages/_error.js
peti-kemas-fe/.next/server/static/development/pages/_error.js.map
peti-kemas-fe/.next/server/static/development/pages/next/dist/pages/_error.js.map
peti-kemas-fe/.next/static/runtime/amp.js
*.lock
*.zip
